<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod doloribus,
      quisquam ad voluptate in mollitia, vitae, tempora eius consectetur harum
      aperiam praesentium assumenda repellendus. Facere.
    </p>
  </div>
</div>
