<div class="testimonial__image">
  <img src="images/testimonial.jpg" alt="Smiling man" />
</div>
<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex eaque
    natus sapiente deleniti, quod minima et reprehenderit vitae voluptates.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 2"
        >
          <path fill="#63c3ef" d="M0 0h50v2H0z" />
        </svg>
      </div>
      <div class="media__body">
        <h3 class="quote__author">John Bez</h3>
        <p class="quote__organisation">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
